@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito";
  @apply text-gray-900;
}

a,
a:active,
a:hover,
a:link,
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium m-0;
}

.paragraph {
  @apply text-2xl;

  @screen md {
    @apply text-3xl;
  }
}

.module {
  @apply py-24;

  @screen md {
    @apply py-32;
  }
}

.scroll-container {
  @media only screen and (max-width: 640px) {
    @apply px-0;
  }
}
